@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

nav .space-x-4 a:hover,
nav .space-y-1 a:hover {
  background-color: #f3f4f6;
  color: #ff8e9b;
}

nav .space-x-4 a.active,
nav .space-y-1 a.active {
  background-color: #ff8e9b;
}

@keyframes gradient-move {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
